@import '_variables';

#logo-image {
  margin-top: 3px;
  height: 4em;
  width: 4em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  border: 1px solid black;
  display:inline-table;
  margin: 2px;
}

.form-item {
  margin-top: 3px;
  margin-left: 10px;
}

#master-password-reveal-button {
  border-radius: 8px;
  height: 2.5em;
  width: 8em;
  font-size: 10px;
  padding: 0;
  margin-left: 1em;
}

#vault-password-reveal-button {
  border-radius: 18px;
  height: 20px;
  width: 50px;
  font-size: 10px;
}

#login-button {
  margin-top: 3px;
  margin-left: 30px;
  background-color: blue;
  color: white;
  border-radius: 4px;
}

#signup-button {
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 4px;
}

td .tableCell{
display:flex;
width:1em;
  text-align: right;
  border: 1px solid black;
  margin: 2px;
}
